<div class="close" id="closeOverlay">
    <h2>
        <i class="fa-solid fa-xmark"></i>
    </h2>
</div>

<div class="label">
    <h1>Create application</h1>
</div>
<div class="elements">
    <form id="applicationForm">
        {% csrf_token %}
        <div class="items">
            <div class="item">
                <h2>Name</h2>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="item">
                <h2>File</h2>
                <div class="drop_box" id="dropBox">
                    <h2 class="file_name">Select File</h2>
                    <p>Supported: PDF, DOC, DOCX</p>
                    <input type="file" id="file" name="file" style="display: none"
                           hidden accept=".pdf,.doc,.docx" required>
                </div>
            </div>
        </div>
        <button type="submit">
            <h1>Submit</h1>
        </button>
    </form>
</div>

<script>
    document.getElementById("applicationForm").addEventListener("submit", function(event) {
        event.preventDefault();

        var formData = new FormData(this);

        fetch("{% url 'create_application_page' %}", {
            method: "POST",
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            alert(data.message);
        })
        .catch(error => {
            console.error("Error:", error);
            alert("An error occurred. Please try again.");
        });
    });
</script>
