<div class="close" id="closeOverlay">
    <h2>
        <i class="fa-solid fa-xmark"></i>
    </h2>
</div>

<div class="label">
    <h1>Create application</h1>
</div>
<div class="elements">
    <form>
        <div class="items">
            <div class="item">
                <h2>Name</h2>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="item">
                <h2>Status</h2>
                <div id="appStatusUrl" style="display: none" data-url="{% url 'get_all_statuses_page' %}"></div>
                <div class="select">
                    <div class="options" id="options">
                        <div class="hide-option option" id="hide-option">
                            Select any option..
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <h2>File</h2>
                <div class="drop_box" id="dropBox">
                    <h2 class="file_name">Select File</h2>
                    <p>Supported: PDF, DOC, DOCX</p>
                    <input type="file" id="file" name="file" style="display: none"
                           hidden accept=".pdf,.doc,.docx" required>
                </div>
            </div>
        </div>
        <button type="submit">
            <h1>Submit</h1>
        </button>
    </form>
</div>

<script>
let options = document.getElementById("options");
let optionList = [];

const appStatusUrl = document.getElementById('appStatusUrl');
const url = appStatusUrl.getAttribute('data-url');
fetch(url)
    .then(response => response.json())
    .then(data => {
        optionList = data.app_statuses;
        console.log(optionList);
    })
    .catch(error => {
        console.error('Error', error);
    });

let isOpen = false;

options.addEventListener("click", addToUIOptions);

function addToUIOptions(e) {
    if (e.target.classList.contains("hide-option")) {
        controlOptions(e);
    }
    else {
        const pickedOption = e.target;

        if (options.firstElementChild.classList.contains("hide-option")) {
            options.removeChild(options.firstElementChild);
        }
        options.insertAdjacentElement("afterbegin", pickedOption);

        deleteOptions();
        controlOptions(e);
    }
}

function controlOptions(e) {
    if (isOpen === false) {
        createOptions();
        options.classList.add("opened");
        isOpen = true;
    }
    else {
        deleteOptions();
        options.classList.remove("opened");
        isOpen = false;
    }
}

function deleteOptions() {
    while (options.childElementCount > 1) {
        options.removeChild(options.lastElementChild);
    }
}

function createOptions() {
    optionList.forEach(element => {
        if (options.firstElementChild.textContent !== element) {
            let option = document.createElement("div");
            option.className = "option";
            option.textContent = element;

            options.firstElementChild.insertAdjacentElement("afterend", option);
        }
    });
};
</script>
