.env
.idea
node_modules
.venv
website/db.sqlite3
website/media/applications/

website/applications/__pycache__/
website/applications/migrations/__pycache__/

website/parkings/__pycache__/
website/parkings/migrations/__pycache__/

website/reports/__pycache__/
website/reports/migrations/__pycache__/

website/users/__pycache__/
website/users/management/__pycache__/
website/users/management/commands/__pycache__/
website/users/migrations/__pycache__/

website/website/__pycache__/
