.env
.idea
node_modules
.venv
website/db.sqlite3
website/website/__pycache__/
website/users/__pycache__/
website/users/migrations/__pycache__/
website/applications/__pycache__/
website/applications/migrations/__pycache__/
website/reports/__pycache__/
website/reports/migrations/__pycache__/
