<div class="calendar">
    <div class="header">
        <button id="prevMonth">Prev</button>
        <h2 id="currentMonth"></h2>
        <button id="nextMonth">Next</button>
    </div>
    <div class="weekdays">
        <div class="weekday">Sun</div>
        <div class="weekday">Mon</div>
        <div class="weekday">Tue</div>
        <div class="weekday">Wed</div>
        <div class="weekday">Thu</div>
        <div class="weekday">Fri</div>
        <div class="weekday">Sat</div>
    </div>
    <div class="days"></div>
</div>
