<footer>
    <div class="container">
        <div class="content">
            <div class="block">
                <h2>Social media</h2>
                <a href="/" class="item">
                    <div class="image">
                        <i class="fa-brands fa-square-x-twitter"></i>
                    </div>
                    <div class="text">
                        X
                    </div>
                </a>
                <a href="/" class="item">
                    <div class="image">
                        <i class="fa-brands fa-square-facebook"></i>
                    </div>
                    <div class="text">
                        Facebook
                    </div>
                </a>
                <a href="/" class="item">
                    <div class="image">
                        <i class="fa-brands fa-linkedin"></i>
                    </div>
                    <div class="text">
                        LinkedIn
                    </div>
                </a>
            </div>
            <div class="block">
                <h2>Address</h2>
                <div class="item">
                    <div class="image">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="text">
                        <div class="line">
                            Warszawa
                        </div>
                        <div class="line">
                            ul. Prosta 14/3
                        </div>
                        <div class="line">
                            03-456 Warszawa
                        </div>
                    </div>
                </div>
            </div>
            <div class="block">
                <h2>Contact</h2>
                <div class="item">
                    <div class="image">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="text">
                        +48 500 123 456
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="text">
                        22 13 456 23
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="text">
                        example@example.com
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>