 <div class="overlay" id="overlay">
    <div class="container">
        <div class="content">
            <!-- Applications -->
            <div class="block" id="createApplicationBlock" style="display: none">
                {% include 'applications/create_application.html' %}
            </div>
            <div class="block" id="showMyApplicationsBlock" style="display: none">
                {% include 'applications/show_my_applications.html' %}
            </div>
            <div class="block" id="showAllApplicationsBlock" style="display: none">
                {% include 'applications/show_all_applications.html' %}
            </div>

            <!-- Parkings -->
            <div class="block" id="showAllParkingSpotsBlock" style="display: none">
                {% include 'parkings/show_all_parking_spots.html' %}
            </div>
            <div class="block" id="shareMyParkingSpotBlock" style="display: none">
                {% include 'parkings/share_my_parking_spot.html' %}
            </div>
        </div>
    </div>
 </div>
