nav {
  background: #2E3047;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}
nav .container {
  height: 100%;
  padding: 0 20px;
}
nav .container .content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container .content .side {
  display: flex;
  gap: 40px;
}
nav .container .content .side .item, nav .container .content .side button {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
nav .container .content .side .item *, nav .container .content .side button * {
  color: #FFF;
}

@media (max-width: 700px) {
  nav .container .content .side .item .text, nav .container .content .side button .text {
    display: none;
  }
}
footer {
  background: #2E3047;
  width: 100%;
  padding: 40px;
}
footer .container .content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;
}
footer .container .content .block {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .container .content .block h2 {
  color: #FFF;
}
footer .container .content .block .item {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .container .content .block .item * {
  color: #FFF;
}
footer .container .content .block .item .text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home {
  min-height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: center;
}
.home .container {
  padding: 20px;
}
.home .container .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
  column-gap: 20px;
}
.home .container .content h2, .home .container .content h3 {
  color: #FFF;
}
.home .container .content .block {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}
.home .container .content .block.calendar {
  min-width: fit-content;
}
.home .container .content .block .items {
  min-width: 600px;
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 20px;
}
.home .container .content .block .items a {
  color: #000;
}
.home .container .content .block .items .item {
  background: #3BBA9C;
  min-width: 500px;
  border-radius: 0 12px 0 12px;
  padding: 10px;
  flex-grow: 1;
}
.home .container .content .block .items .item .calendar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home .container .content .block .items .item .calendar .header {
  display: flex;
  justify-content: space-between;
}
.home .container .content .block .items .item .calendar .header h2 {
  color: #000;
}
.home .container .content .block .items .item .calendar .weekdays {
  display: flex;
  justify-content: space-between;
}
.home .container .content .block .items .item .calendar .weekdays .weekday {
  flex: 1;
  text-align: center;
}
.home .container .content .block .items .item .calendar .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}
.home .container .content .block .items .item .calendar .days .day {
  background: #707793;
  text-align: center;
  padding: 20px 10px;
  border-radius: 4px;
}
.home .container .content .block .items .item .calendar .days .day.empty {
  background: none;
}

@media (max-width: 900px) {
  .home .container .content .block {
    min-width: 100%;
  }
  .home .container .content .block .items .item {
    min-width: 100%;
  }
}
.login {
  min-height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.login .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.login .container .content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #3C3F58;
}

main {
  min-height: calc(100vh - 80px);
  width: 100vw;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  width: 2100px;
  max-width: 100%;
}

/*# sourceMappingURL=styles.css.map */
