nav {
  background: #2E3047;
  height: 80px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 999;
}
nav .container {
  height: 100%;
  padding: 0 20px;
}
nav .container .content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container .content .side {
  display: flex;
  gap: 40px;
}
nav .container .content .side .item, nav .container .content .side button {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
nav .container .content .side .item *, nav .container .content .side button * {
  color: #FFF;
}

@media (max-width: 700px) {
  nav .container .content .side .item .text, nav .container .content .side button .text {
    display: none;
  }
}
footer {
  background: #2E3047;
  width: 100%;
  padding: 40px;
}
footer .container .content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;
}
footer .container .content .block {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .container .content .block h2 {
  color: #FFF;
}
footer .container .content .block .item {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .container .content .block .item * {
  color: #FFF;
}
footer .container .content .block .item .text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home {
  min-height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: center;
}
.home .container {
  padding: 20px;
}
.home .container .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
  column-gap: 20px;
}
.home .container .content h2, .home .container .content h3 {
  color: #FFF;
}
.home .container .content .block {
  max-height: 620px;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}
.home .container .content .block.calendar {
  min-width: fit-content;
}
.home .container .content .block.parkings .items {
  display: flex;
  flex-direction: column;
}
.home .container .content .block.parkings .items .item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
}
.home .container .content .block.parkings .items .item .info {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .container .content .block.applications .items .item, .home .container .content .block.reports .items .item {
  display: flex;
  gap: 20px;
}
.home .container .content .block.applications .items .item .spot, .home .container .content .block.reports .items .item .spot {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .container .content .block.applications .items .item.grid, .home .container .content .block.reports .items .item.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.home .container .content .block.applications .items .item.grid .spot, .home .container .content .block.reports .items .item.grid .spot {
  min-height: 120px;
}
.home .container .content .block.applications .items .item.grid .spot:first-child, .home .container .content .block.reports .items .item.grid .spot:first-child {
  grid-column: 1/span 2;
}
.home .container .content .block .items {
  min-width: fit-content;
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 20px;
}
.home .container .content .block .items .item {
  background: #5d5f77;
  min-width: 500px;
  border-radius: 0 20px 0 20px;
  padding: 20px 20px;
  flex: 1;
}
.home .container .content .block .items .item.events {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home .container .content .block .items .item.events .label {
  padding: 4px 0;
  border-bottom: 2px solid #3C3F58;
}
.home .container .content .block .items .item .date {
  text-align: center;
}
.home .container .content .block .items .item .booking {
  background: #ba5f3b;
  text-align: center;
  padding: 20px 20px;
  border-radius: 10px;
}
.home .container .content .block .items .item .info {
  width: 100%;
  text-align: center;
}
.home .container .content .block .items .item .spot {
  background: #ba5f3b;
  text-align: center;
  padding: 20px 20px;
  border-radius: 10px;
  width: 100%;
}
.home .container .content .block .items .item .spot:hover {
  background: #a75535;
}
.home .container .content .block .items .item .spot i {
  margin-right: 10px;
}

@media (max-width: 1100px) {
  .home .container .content .block {
    min-width: 100%;
    max-height: none;
  }
  .home .container .content .block .items {
    min-height: fit-content;
    min-width: 100%;
  }
  .home .container .content .block .items .item {
    min-width: 100%;
  }
}
.login {
  min-height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.login .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.login .container .content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.login .container .content form .item {
  min-width: 300px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}
.login .container .content form .item small {
  width: 100%;
  margin-bottom: 4px;
}
.login .container .content form .item input {
  border: none;
  font-size: 2rem;
  color: #000;
  border-radius: 12px;
  text-indent: 8px;
}
.login .container .content form button {
  background: #ba5f3b;
  padding: 12px 40px;
  border-radius: 12px;
}

.calendar {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.calendar .header {
  display: flex;
  justify-content: space-between;
}
.calendar .weekdays {
  display: flex;
  justify-content: space-between;
}
.calendar .weekdays .weekday {
  flex: 1;
  text-align: center;
}
.calendar .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}
.calendar .days .day {
  background: #848ba8;
  text-align: center;
  padding: 20px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.calendar .days .day:hover {
  background: #757d9d;
}
.calendar .days .day.empty {
  background: none;
  cursor: default;
  box-shadow: none;
}
.calendar .days .day.weekend {
  background: #707793;
  color: #962727;
}
.calendar .days .day.weekend:hover {
  background: #646b85;
}
.calendar .days .day.relaxed {
  background: #cba080;
}
.calendar .days .day.relaxed:hover {
  background: #c4926e;
}
.calendar .days .day.holiday {
  background: #b54d4d;
}
.calendar .days .day.holiday:hover {
  background: #a44444;
}
.calendar .days .day.past {
  background: #3C3F58;
  color: #1f1f1f;
}
.calendar .days .day.past:hover {
  background: #323449;
}
.calendar .days .day.today {
  background: #ba5f3b;
}
.calendar .days .day.today:hover {
  background: #a75535;
}
.calendar .days .day.selected {
  background: #962727;
  color: #FFF;
}
.calendar .days .day.selected:hover {
  background: #822222;
}

#overlay {
  height: 100dvh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  justify-content: center;
  backdrop-filter: blur(0px);
}
#overlay.show {
  display: flex;
  backdrop-filter: blur(8px);
  animation: fadeIn 0.5s ease forwards;
}
#overlay .container {
  display: flex;
  align-items: center;
}
#overlay .container .content {
  width: 100%;
  display: flex;
  justify-content: center;
}
#overlay .container .content .block {
  height: 1000px;
  max-height: 100dvh;
  width: 1000px;
  max-width: 100%;
  background: #2E3047;
  border-radius: 12px;
  margin: 20px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}
#overlay .container .content .block .close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  padding: 0 6px;
  cursor: pointer;
  background: #d11717;
  border-radius: 50%;
}
#overlay .container .content .block .label {
  padding: 4px 0;
  border-bottom: 2px solid #3C3F58;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
}

body {
  background: #3C3F58;
}

main {
  min-height: calc(100vh - 80px);
  width: 100%;
  position: absolute;
  top: 80px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  width: 2100px;
  max-width: 100%;
}

.shadow, nav, .home .container .content .block .items .item, .home .container .content .block .items .item .booking, .home .container .content .block .items .item .spot, .login .container .content form .item input, .login .container .content form button, .calendar .days .day, #overlay .container .content .block {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
  background: #5d5f77;
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #848ba8;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b6b6b6;
}

/*# sourceMappingURL=styles.css.map */
