@import 'colors';


.calendar {
  display: flex;
  flex-direction: column;
  gap: 40px;
  .header {
    display: flex;
    justify-content: space-between;
  }
  .weekdays {
    display: flex;
    justify-content: space-between;
    .weekday {
      flex: 1;
      text-align: center;
    }
  }
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    .day {
      @extend .shadow;
      background: $calendar-day-background;
      text-align: center;
      padding: 20px 10px;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
         background: darken($calendar-day-background, 5);
      }
      &.empty {
        background: none;
        cursor: default;
        box-shadow: none;
      }
      &.weekend {
        background: $calendar-weekend-background;
        color: $calendar-weekend-color;
        &:hover {
          background: darken($calendar-weekend-background, 5);
        }
      }
      &.relaxed {
        background: $calendar-relaxed-background;
        &:hover {
          background: darken($calendar-relaxed-background, 5);
        }
      }
      &.holiday {
        background: $calendar-holiday-background;
        &:hover {
          background: darken($calendar-holiday-background, 5);
        }
      }
      &.past {
        background: $calendar-past-background;
        color: $calendar-past-color;
        &:hover {
          background: darken($calendar-past-background, 5);
        }
      }
      &.today {
        background: $calendar-today-background;
        &:hover {
          background: darken($calendar-today-background, 5);
        }
      }
      &.selected {
        background: $calendar-selected-background;
        color: $text-color;
        &:hover {
          background: darken($calendar-selected-background, 5);
        }
      }
    }
  }
}
