$color-1: #3C3F58;
$color-2: #2E3047;
$color-3: #707793;
$color-4: #43455C;
$color-5: #FFF;
$color-6: #3BBA9C;

$background-color: $color-1;
$navbar-color: $color-2;
$footer-color: $color-2;
$block-item-color: $color-6;
$text-color: $color-5;
