$color-1: #3C3F58;
$color-2: #2E3047;
$color-3: #707793;
$color-4: #5d5f77;
$color-5: #FFF;
$color-6: #3BBA9C;
$color-7: #000;
$color-8: #848ba8;


$body-background: $color-1;
$navbar-background: $color-2;
$footer-background: $color-2;

$block-item-background: $color-6;

$text-color: $color-5;
$text-color-2: $color-7;

$calendar-day-background: $color-3;
$calendar-weekend-background: $color-4;
$calendar-past-background: $color-1;

$scrollbar-background: $color-4;
$scrollbar-thumb-background: $color-8;
