$color-1: #3C3F58;
$color-2: #2E3047;
$color-3: #707793;
$color-4: #5d5f77;
$color-5: #FFF;
$color-6: #ba5f3b;
$color-7: #000;
$color-8: #848ba8;
$color-9: #962727;
$color-10: #1f1f1f;
$color-11: #cba080;
$color-12: #b54d4d;


$body-background: $color-1;
$navbar-background: $color-2;
$footer-background: $color-2;

$block-item-background: $color-4;

$text-color: $color-5;
$text-color-2: $color-7;

$calendar-weekend-color: $color-9;
$calendar-past-color: $color-10;
$calendar-day-background: $color-8;
$calendar-weekend-background: $color-3;
$calendar-past-background: $color-1;
$calendar-today-background: $color-6;
$calendar-selected-background: $color-9;
$calendar-relaxed-background: $color-11;
$calendar-holiday-background: $color-12;

$scrollbar-background: $color-4;
$scrollbar-thumb-background: $color-8;

$booking-background: $color-6;
