@import 'colors';


.home {
  min-height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: center;
  .container {
    padding: 20px;
    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 40px;
      column-gap: 20px;
      h2, h3 {
        color: $text-color;
      }
      .block {
        max-height: 620px;
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 20px;
        &.calendar {
          min-width: fit-content;
        }
        &.parkings {
          .items {
            display: flex;
            flex-direction: column;
            .item {
              display: flex;
              justify-content: center;
              flex-direction: column;
              gap: 20px;
              flex-grow: 1;
              .info {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
        &.applications, &.reports {
          .items {
            .item {
              display: flex;
              gap: 20px;
              .spot {
                display: flex;
                justify-content: center;
                align-items: center;
              }
              &.grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                .spot {
                  min-height: 120px;
                  &:first-child {
                    grid-column: 1 / span 2;
                  }
                }
              }
            }
          }
        }
        .items {
          min-width: fit-content;
          min-height: 200px;
          display: flex;
          flex-wrap: wrap;
          flex-grow: 1;
          gap: 20px;
          .item {
            @extend .shadow;
            background: $block-item-background;
            min-width: 500px;
            border-radius: 0 20px 0 20px;
            padding: 20px 20px;
            flex: 1;
            &.events {
              display: flex;
              flex-direction: column;
              gap: 20px;
              .label {
                padding: 4px 0;
                border-bottom: 2px solid $line-color;
              }
            }
            .date {
              text-align: center;
            }
            .booking {
              @extend .shadow;
              background: $booking-background;
              text-align: center;
              padding: 20px 20px;
              border-radius: 10px;
            }
            .info {
              width: 100%;
              text-align: center;
            }
            .spot {
              @extend .shadow;
              background: $booking-background;
              text-align: center;
              padding: 20px 20px;
              border-radius: 10px;
              width: 100%;
              i {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .home {
    .container {
      .content {
        .block {
          min-width: 100%;
          max-height: none;
          .items {
            min-height: fit-content;
            min-width: 100%;
            .item {
              min-width: 100%;
            }
          }
        }
      }
    }
  }
}
