@import 'colors';


.home {
  min-height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: center;
  .container {
    padding: 20px;
    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 40px;
      column-gap: 20px;
      h2, h3 {
        color: $text-color;
      }
      .block {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 20px;
        &.calendar {
          min-width: fit-content;
        }
        .items {
          min-width: 600px;
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          .item {
            background: $block-item-background;
            min-width: 500px;
            border-radius: 0 12px 0 12px;
            padding: 10px;
            flex-grow: 1;
            .calendar {
              display: flex;
              flex-direction: column;
              gap: 20px;
              .header {
                display: flex;
                justify-content: space-between;
              }
              .weekdays {
                display: flex;
                justify-content: space-between;
                .weekday {
                  flex: 1;
                  text-align: center;
                }
              }
              .days {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                gap: 5px;
                .day {
                  background: $calendar-day-background;
                  text-align: center;
                  padding: 20px 10px;
                  border-radius: 4px;
                  &.empty {
                    background: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .home {
    .container {
      .content {
        .block {
          min-width: 100%;
          .items {
            .item {
              min-width: 100%;
            }
          }
        }
      }
    }
  }
}
