.login {
  min-height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  .container {
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .item {
          min-width: 300px;
          width: 100%;
          max-width: 600px;
          display: flex;
          flex-direction: column;
          small {
            width: 100%;
            margin-bottom: 4px;
          }
          input {
            font-size: 2rem;
          }
        }
        button {
          @extend .shadow;
          background: $button-background;
          padding: 12px 40px;
          border-radius: 12px;
        }
      }
    }
  }
}
