@import 'colors';


nav {
  background: $navbar-color;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  .container {
    height: 100%;
    padding: 0 20px;
    .content {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .side {
        display: flex;
        gap: 40px;
        .item, button {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          * {
            color: $text-color;
          }
        }
      }
    }
  }
}