@import 'colors';


nav {
  @extend .shadow;
  background: $navbar-background;
  height: 80px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 999;
  .container {
    height: 100%;
    padding: 0 20px;
    .content {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .side {
        display: flex;
        gap: 40px;
        .item, button {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          &.logo {
            * {
              font-family: "Audiowide", sans-serif;
            }
          }
          * {
            color: $text-color;
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  nav {
    .container {
      .content {
        .side {
          .item, button {
            .text {
              display: none;
            }
          }
        }
      }
    }
  }
}
