@import "colors";


#overlay {
  height: 100dvh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  justify-content: center;
  backdrop-filter: blur(0px);
  &.show {
    display: flex;
    backdrop-filter: blur(8px);
    animation: fadeIn 0.5s ease forwards;
  }
  .container {
    display: flex;
    align-items: center;
    .content {
      width: 100%;
      display: flex;
      justify-content: center;
      .block {
        @extend .shadow;
        height: 1000px;
        max-height: 100dvh;
        width: 1000px;
        max-width: 100%;
        background: $overlay-background;
        border-radius: 12px;
        margin: 20px;
        padding: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        .close {
          position: absolute;
          top: 0;
          right: 0;
          margin: 20px;
          padding: 0 6px;
          cursor: pointer;
          background: $overlay-close-background;
          border-radius: 50%;
        }
        .label {
          padding: 4px 0;
          border-bottom: 2px solid $line-color;
        }
      }
    }
  }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
