@import "colors";


#overlay {
  height: 100dvh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  justify-content: center;
  backdrop-filter: blur(0px);
  &.show {
    display: flex;
    backdrop-filter: blur(8px);
    animation: fadeIn 0.5s ease forwards;
  }
  .container {
    display: flex;
    align-items: center;
    .content {
      width: 100%;
      display: flex;
      justify-content: center;
      .block {
        @extend .shadow;
        height: fit-content;
        max-height: 80dvh;
        width: 1000px;
        max-width: 100%;
        overflow-y: auto;
        background: $overlay-background;
        border-radius: 12px;
        margin: 40px;
        padding: 20px;
        position: relative;
        flex-direction: column;
        border: 1px solid #000;
        .close {
          @extend .shadow;
          position: absolute;
          top: 0;
          right: 0;
          margin: 20px;
          padding: 0 8px;
          cursor: pointer;
          background: $overlay-close-background;
          border-radius: 50%;
          &:hover {
            background: darken($overlay-close-background, 5);
          }
        }
        .label {
          padding: 4px 0;
          margin-bottom: 40px;
          border-bottom: 2px solid $line-color;
        }
        .elements {
          height: 100%;
          position: relative;
          form {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 40px;
            .items {
              display: flex;
              flex-direction: column;
              gap: 40px;
              .item {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 8px;
                position: relative;
                label {
                  font-size: 1rem;
                }
                input, .options {
                  font-size: 1.8rem;
                }
                .drop_box {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: space-between;
                  border-radius: 12px;
                  border: 3px dotted $dotted-line;
                  padding: 40px;
                  gap: 30px;
                  background: lighten($overlay-background, 5);
                  &:hover {
                    background: lighten($overlay-background, 10);
                    transition: 0.3s ease;
                  }
                  p {
                    color: $text-color-3;
                  }
                }
              }
            }
            button {
              @extend .shadow;
              background: $button-background;
              padding: 12px 40px;
              border-radius: 12px;
              &:hover {
                background: darken($button-background, 5);
              }
            }
          }
          .applications,
          .parkings {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .application,
            .parking {
              background: $application-background;
              padding: 20px;
              border-radius: 12px;
              display: flex;
              flex-direction: column;
              .top {
                display: flex;
                gap: 20px;
              .title {
                text-transform: uppercase;
              }
              .id {
                color: $text-color-3;
              }
            }
            &:hover {
              background: darken($application-background, 5);
            }
          }
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
