@import 'navbar';
@import 'footer';
@import 'home';
@import 'login';
@import 'calendar';
@import 'overlay';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $text-color;
}

body {
  background: $body-background;
}

main {
  min-height: calc(100vh - 80px);
  width: 100%;
  position: absolute;
  top: 80px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input, select {
  @extend .shadow;
  border: none;
  color: $text-color-2;
  border-radius: 12px;
  text-indent: 8px;
  padding: 2px;
}

.container {
  width: 2100px;
  max-width: 100%;
}

.shadow {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
  background: $scrollbar-background;
  width: 10px;
  height: 10px;
  &-thumb {
    background: $scrollbar-thumb-background;
    border-radius: 20px;
    &:hover {
      background: #b6b6b6;
    }
  }
}
