{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %} {% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/d55684f920.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'elements/navbar.html' %}
    {% block content %} {% endblock content %}
</body>
</html>
