{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %} {% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/d55684f920.js" crossorigin="anonymous"></script>

</head>
<body>
    {% include 'elements/navbar.html' %}
    {% block content %} {% endblock content %}
    {% include 'elements/footer.html' %}
</body>
</html>
