{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}

{% block content %}

    <div class="home">
        <div class="container">
            <div class="content">
                <div class="block">
                    <div class="item">
                        Calendar
                    </div>
                </div>
                <div class="block">
                    <div class="item">
                        Parking bookings
                    </div>
                </div>
                <div class="block">
                    <div class="item">
                        Applications
                    </div>
                    <div class="item">
                        Reports
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
