{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}

{% block content %}

    <div class="home">
        <div class="container">
            <div class="content">

                <div class="block calendar">
                    <h2>Calendar</h2>
                    <div class="items">
                        <div class="item">
                            {% include 'elements/calendar.html' %}
                        </div>
                    </div>
                </div>

                <div class="block">
                    <h2>Parking bookings</h2>
                    <div class="items">
                        {% if user_have_parking_spot %}
                            <div class="item">
                                Share parking
                            </div>
                            <div class="item">
                                Show shared spots
                            </div>
                        {% else %}
                            <div class="item">
                                Reserve parking
                            </div>
                            <div class="item">
                                Show my reservation
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="block">
                    <h2>Applications</h2>
                    <div class="items">
                        <div class="item">
                            Create application
                        </div>
                        <div class="item">
                            Show my applications
                        </div>
                        <div class="item">
                            Show all applications
                        </div>
                    </div>
                </div>

                <div class="block">
                    <h2>Reports</h2>
                    <div class="items">
                        <div class="item">
                            Create report
                        </div>
                        <div class="item">
                            Show my reports
                        </div>
                        <div class="item">
                            Show all reports
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}
