{% extends 'base.html' %}

{% block title %} Example {% endblock %}

{% block content %}

    <div class="home">
        <div class="container">
            <div class="content">

                <div class="block calendar">
                    <h2>Calendar and events</h2>
                    <div class="items">
                        <div class="item">
                            {% include 'elements/calendar.html' %}
                        </div>
                        <div class="item events" id="eventsContainer">
                            <div class="small">Parking</div>
                            <div id="eventParkingBooking" data-url="{% url 'get_parking_booking_from_date'%}" style="display: none"></div>
                        </div>
                    </div>
                </div>

                <div class="block better" id="parkingsBlock">
                    <h2>Parking</h2>
                    <div class="items parkings" id="parkingItems">
                        <div class="item">
                            {% if user.is_superuser %}
                                <div class="spot" id="showParkingSpotsButton">
                                    Show all
                                    <br>
                                    parking spots
                                </div>
                                <div class="spot" id="showAllReservationsParkingSpotButton">
                                    Show all
                                    <br>
                                    reservations
                                </div>
                            {% endif %}
                            {% if user_have_parking_spot %}
                                <div class="spot" id="shareParkingSpotButton">
                                    Share my
                                    <br>
                                    parking spot
                                </div>
                                <div class="spot" id="showSharedParkingSpotButton">
                                    Show shared
                                    <br>
                                    parking spot
                                </div>
                            {% else %}
                                <div class="spot" id="showMyReservationsParkingSpotButton">
                                    Show my
                                    <br>
                                    reservations
                                </div>
                                <div class="spot" id="showFreeParkingSpotButton">
                                    Show free
                                    <br>
                                    parking spot
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="block better" id="applicationsBlock">
                    <h2>Applications</h2>
                    <div class="items">
                        <div class="item">
                            <div class="spot" id="createApplicationButton">
                                Create
                                <br>
                                application
                            </div>
                            <div class="spot" id="showMyApplicationsButton">
                                Show my
                                <br>
                                applications
                            </div>
                            <div class="spot" id="showAllApplicationsButton">
                                Show all
                                <br>
                                applications
                            </div>
                        </div>
                    </div>
                </div>

                <div class="block better" id="reportsBlock">
                    <h2>Reports</h2>
                    <div class="items">
                        <div class="item">
                            <a href="/" class="spot">
                                Create
                                <br>
                                report
                            </a>
                            <a href="/" class="spot">
                                Show my
                                <br>
                                reports
                            </a>
                            <a href="/" class="spot">
                                Show all
                                <br>
                                reports
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {% for status in app_statuses %}
        {{ status }}
    {% endfor %}

{% endblock content %}
