{% extends 'base.html' %}

{% block title %} Login {% endblock title %}

{% block content %}
    <div class="login">
        <div class="container">
            <div class="content">
                <h1>Log in</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="item">
                        <small>{{ form.username.label_tag }}</small>
                        {{ form.username }}
                    </div>
                    <div class="item">
                        <small>{{ form.password.label_tag }}</small>
                        {{ form.password }}
                    </div>
                    <button type="submit">
                        <h2>Log in</h2>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
